body { 
  background: url(../style/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  max-width: 50%;
  margin: 0 auto;
}
.header-size {
  font-size: 3.5rem;
}

.box {
  border: 1px solid #dcdde1;
  border-radius: 5px;
  padding: 7px;
  height: 45px;
  text-align: center;
  font-weight: bold;
}

.box:hover {
  transform: scale(1.04);
  cursor: pointer;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .header-size {
    font-size: 2.5rem;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .header-size {
    font-size: 2.5rem;
  }
}
